{% extends "core/index.html" %} {% load static %} {% block title %}SamCoding | {{ title }}{% endblock title %} {% block css %} {% endblock css %}
{% block content %}
<div class="container">
    {% include 'core/layout/breadcrumb.html' %}
    <div class="row">
        <div class="col-xl-9">
            <div data-table class="card">
                <div class="card-header border-light justify-content-between">

                    <div class="d-flex align-items-center gap-2 w-100">

                        <div class="app-search w-100">
                            <input class="form-control" placeholder="Foydalanuvchi izlash..." />
                            <i class="ti ti-search app-search-icon text-muted"></i>
                        </div>

                        <!-- Records Per Page -->
                        <div>
                            <button class="btn btn-primary">Izlash</button>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-custom table-nowrap table-centered table-select table-hover w-100 mb-0">
                        <thead class="bg-light align-middle bg-opacity-25 thead-sm">
                            <tr class="fs-xxs">
                                <th data-table-sort style="width: 1%;">T/R</th>
                                <th data-table-sort>Foydalanuvchi</th>
                                <th data-table-sort style="width: 1%;" class="text-center">Rating</th>
                                <th data-table-sort style="width: 1%;" class="text-center">Solved</th>
                                <th data-table-sort style="width: 1%;" class="text-center">Active</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in users %}
                            <tr>
                                <td>
                                    <a href="#!" class="fw-medium text-reset ms-1">{{ forloop.counter}}</a>
                                </td>
                                <td>
                                    <div class="avatar-xs d-inline-block me-1">
                                        {% if item.avatar %}
                                        <img src="{{ item.avatar.url }}" class="image-fluid rounded-circle w-100 h-100" alt="user avatar">
                                        {% else %}
                                        <span class="avatar-title bg-primary-subtle text-primary fw-bold rounded-circle"> 
                                        {% if item.first_name %}
                                            {{ item.first_name|first|upper }}
                                        {% elif item.last_name %}
                                            {{ item.last_name|first|upper }}
                                        {% else %}
                                            {{ item.username|first|upper }}
                                        {% endif %}
                                        </span>
                                        {% endif %}
                                    </div>
                                    <a href="{% url 'profile' item.username %}" class="text-reset">{{ item.first_name }} {{ item.last_name }}</a>
                                </td>
                                <td class="text-center">20 Apr, 2024</td>
                                <td class="text-center">
                                    USD $100.1K
                                </td>
                                <td class="text-center">
                                    <span class="badge {% if item.is_online %}bg-info-subtle text-info{% else %}bg-danger-subtle text-danger{% endif %} rounded-1 p-1">{{ item.last_seen }}</span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <!-- end tbody -->
                    </table>
                </div>
                <div class="card-footer border-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <div data-table-pagination-info="deals"></div>
                        <div data-table-pagination></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 p-5"></div>
    </div>
</div>
{% endblock content %} {% block js %} 
<!-- Custom table -->
<script src="{% static 'js/pages/custom-table.js' %}"></script>
{% endblock js %}