{% if request.user.is_authenticated and not request.user.is_profile_complete %}
<div class="alert alert-danger alert-dismissible d-flex align-items-center" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <i class="ti ti-alert-circle fs-24 me-1"></i>
    <div>
        Iltimos, to'liq
        <a href="{% url 'profile' request.user.username %}" class="text-reset text-decoration-underline ms-auto link-offset-2">
            <strong>ro'yxatdan o'ting</strong>
        </a>. To'liq ma'lumotlaringiz sizga yaxshiroq xizmat ko'rsatishimizga yordam beradi.
    </div>
</div>
{% endif %}