<header class="topnav">
    <nav class="navbar navbar-expand-lg">
        <nav class="container">
            <div class="collapse navbar-collapse" id="topnav-menu">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}" role="button">
                            <span class="menu-icon"><i class="ti ti-smart-home fs-xl"></i></span>
                            <span class="menu-text">Bosh sahifa</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users' %}" role="button">
                            <span class="menu-icon"><i class="ti ti-users fs-xl"></i></span>
                            <span class="menu-text">Foydalanuvchilar</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'problems' %}" role="button">
                            <span class="menu-icon"><i class="ti ti-book-2 fs-xl"></i></span>
                            <span class="menu-text">Masalalar</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" role="button">
                            <span class="menu-icon"><i class="ti ti-brand-strava fs-xl"></i></span>
                            <span class="menu-text">Urinishlar</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" role="button">
                            <span class="menu-icon"><i class="ti ti-laurel-wreath-3 fs-xl"></i></span>
                            <span class="menu-text">Musobaqalar</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" role="button">
                            <span class="menu-icon"><i class="ti ti-info-circle fs-xl"></i></span>
                            <span class="menu-text">Tizim haqida</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </nav>
</header>