{% extends "core/public/index.html" %} {% load static %} {% block title %}SamCoding | {{ title }}{% endblock title %} {% block css %} 
<link rel="stylesheet" href="{% static 'codemirror-5.65.21/lib/codemirror.css' %}">
<link rel="stylesheet" href="{% static 'codemirror-5.65.21/theme/monokai.css' %}">
{% endblock css %}
{% block content %}
<div class="container">
    {% include 'core/public/layout/breadcrumb.html' %}
    <div class="row">
        <div class="col-md-9">
            <div class="card rounded-1">
                <div class="card-header d-block">
                    <h3 class="mb-2">{{ problem.title }}</h3>
                    <div class="d-flex gap-1">
                        <span class="badge badge-soft-primary rounded-1 p-1">Vaqt: {{ problem.time_limit }} ms</span>
                        <span class="badge badge-soft-success rounded-1 p-1">Xotira: {{ problem.memory_limit }} mb</span>
                        <span class="badge badge-soft-danger rounded-1 p-1">Qiyinchilik: {{ problem.difficulty }} %</span>
                    </div>
                </div>
                <div class="card-body">
                    <div class="problem-statement">
                        {{ sections.statement|safe }}
                    </div>

                    <h3 class="card-title">Kiruvchi ma'lumotlar</h3>
                    <div>
                        {{ sections.input|safe }}
                    </div>

                    <h3 class="card-title">Chiquvchi ma'lumotlar</h3>
                    <div>
                        {{ sections.output|safe }}
                    </div>

                    <h3 class="card-title">Misollar</h3>
                    <div class="table-responsive my-3">
                        <table class="table table-bordered table-hover w-100 mb-0 table-fixed">
                            <thead class="bg-light align-middle bg-opacity-25 thead-sm">
                                <tr class="fs-xxs">
                                    <th class="text-center" style="width:40px;">#</th>
                                    <th style="width:50%;">Input TXT</th>
                                    <th style="width:50%;">Output TXT</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for test in problem.samples.all %}
                                <tr>
                                    <td class="text-center">{{ forloop.counter }}</td>
                                    <td class="position-relative">
                                        <button class="btn btn-sm btn-primary btn-icon copy-btn" data-bs-toggle="tooltip" data-bs-title="Nusxalash">
                                            <i class="ti ti-copy"></i>
                                        </button>
                                        <div class="sample-cell">
                                            <pre class="copy-content">{{ test.input_data }}</pre>
                                        </div>
                                    </td>
                                    <td class="position-relative">
                                        <button class="btn btn-sm btn-primary btn-icon copy-btn" data-bs-toggle="tooltip" data-bs-title="Nusxalash">
                                            <i class="ti ti-copy"></i>
                                        </button>
                                        <div class="sample-cell">
                                            <pre class="copy-content">{{ test.output_data }}</pre>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <h3 class="card-title">Izoh</h3>
                    <div>
                        {{ sections.note|safe }}
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-end gap-2">
                        <a href="#" title="Telegram">
                            <span class="badge text-bg-primary rounded-1">
                                <i class="ti ti-brand-telegram"></i>
                                Telegram
                            </span>
                        </a>
                        <a href="#" title="GitHub">
                            <span class="badge text-bg-dark">
                                <i class="ti ti-brand-github"></i>
                                GitHub
                            </span>
                        </a>
                        <a href="#" title="Facebook">
                            <span class="badge text-bg-primary">
                                <i class="ti ti-brand-facebook"></i>
                                Facebook
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            {% if request.user.is_authenticated %}
            <div class="card rounded-1">
                <div class="card-header gap-3">
                    <h3 class="card-title">Yechimni yuborish</h3>
                </div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="editor-wrapper position-relative">
                        <div class="editor-actions d-flex flex-column">
                            <button type="button" id="copyEditor" class="btn btn-sm btn-primary btn-icon">
                                <i class="ti ti-copy"></i>
                            </button>

                            <button type="button" id="clearEditor" class="btn btn-sm btn-danger btn-icon">
                                <i class="ti ti-trash"></i>
                            </button>
                        </div>

                        <textarea class="form-control border-0" name="code" id="editor">{{ last_submission.code }}</textarea>
                    </div>
                    <div class="card-footer">
                        <div class="mb-2" style="width: 170px;">
                            <select class="form-select" name="language" id="code-languages" required>
                                {% for item in languages %}
                                <option value="{{ item.id }}" data-mime="{{ item.mime }}" {% if item == last_submission.language %}selected{% endif %}>{{ item.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <input type="file" id="fileInput" class="form-control mb-2">
                        <button type="submit" class="btn btn-primary">Yuborish</button>
                    </div> 
                </form> 
            </div>
            <div data-table data-table-rows-per-page="{{ 5 }}" class="card rounded-1">
                <div class="card-header">
                    <h3 class="card-title">So'ngi urinishlar</h3>
                </div>
                <div class="table-responsive">
                    <table class="table table-custom table-nowrap table-centered table-select table-striped table-hover w-100 mb-0">
                        <thead class="bg-light align-middle bg-opacity-25 thead-sm">
                            <tr class="fs-xxs">
                                <th class="text-center" style="width: 1%;">#ID</th>
                                <th>Masala</th>
                                <th class="text-center">Holati</th>
                                <th class="text-center">Til</th>
                                <th class="text-center">Vaqt</th>
                                <th class="text-center">Xotira</th>
                                <th class="text-center">Yuborilgan vaqt</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in submissions %}
                            <tr>
                                <td class="text-center">{{ item.id }}</td>
                                <td>{{ item.problem.title }}</td>
                                <td class="text-center">{{ item.status }}</td>
                                <td class="text-center">{{ item.language }}</td>
                                <td class="text-center">{{ item.time_used }}</td>
                                <td class="text-center">{{ item.memory_used }}</td>
                                <td class="text-center">{{ item.created_at|date:"d-m-Y H:i" }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer border-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <ul class="pagination pagination-sm pagination-boxed mb-0 mx-auto">
                            <li class="page-item {% if not submissions.has_previous %}disabled{% endif %}">
                                <a class="page-link" href="{% if submissions.has_previous %}?page={{ submissions.previous_page_number }}{% else %}#{% endif %}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% for page in page_range %}
                            {% if page == '...' %}
                            <li class="page-item disabled"><span class="page-link">...</span></li>
                            {% elif page == submissions.number %}
                            <li class="page-item active"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                            {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                            {% endif %}
                            {% endfor %}
                            <li class="page-item {% if not submissions.has_next %}disabled{% endif %}">
                                <a class="page-link" href="{% if submissions.has_next %}?page={{ submissions.next_page_number }}{% else %}#{% endif %}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="alert alert-warning alert-dismissible d-flex align-items-center">
                <i class="ti ti-alert-circle fs-24 me-1"></i>
                <div>
                    Yechim yuborish uchun tizimga <a href="{% url 'sign-in' %}">kiring</a> yoki <a href="{% url 'sign-up' %}">ro'yxatdan o'ting</a>.
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-md-3 d-none d-md-block">
            <div class="card rounded-1">
                <div class="card-header d-block">
                    <h3 class="card-title">Masala teglari</h3>
                </div>
                <div class="card-body d-flex flex-wrap gap-1">
                    {% for tag in problem.tags.all %}
                    <h4>
                        <span class="badge badge-soft-dark text-muted rounded-1">
                            #{{ tag }}
                        </span>
                    </h4>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %} {% block js %}
<!-- Custom table -->
<script src="{% static 'js/pages/custom-table.js' %}"></script>
<script>
    MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']],
            displayMath: [['$$', '$$'], ['\\[', '\\]']]
        }
    };
</script>
<script src="{% static 'mathJax-4.1.1/tex-chtml.js' %}"></script>
<script>
    document.querySelectorAll(".copy-btn").forEach(btn => {
        const tooltip = new bootstrap.Tooltip(btn)
        btn.addEventListener("click", function(){
            const td = btn.closest("td")
            const text = td.querySelector(".copy-content").innerText
            navigator.clipboard.writeText(text)
            const icon = btn.querySelector("i")
            icon.classList.remove("ti-copy")
            icon.classList.add("ti-check")
            tooltip.setContent({'.tooltip-inner': 'Nusxalandi'})
            tooltip.show()
            setTimeout(()=>{
                icon.classList.remove("ti-check")
                icon.classList.add("ti-copy")
                tooltip.setContent({'.tooltip-inner': 'Nusxalash'})
            },1200)
        })
    })
</script>
<script src="{% static 'codemirror-5.65.21/lib/codemirror.js' %}"></script>
<script src="{% static 'codemirror-5.65.21/mode/meta.js' %}"></script>
<script src="{% static 'codemirror-5.65.21/addon/mode/loadmode.js' %}"></script>
<script src="{% static 'codemirror-5.65.21/addon/edit/closebrackets.js' %}"></script>
<script src="{% static 'codemirror-5.65.21/addon/edit/matchbrackets.js' %}"></script>
<script src="{% static 'codemirror-5.65.21/addon/selection/active-line.js' %}"></script>
<script>
    let editor;
    document.addEventListener("DOMContentLoaded", function () {
        const languageElement = document.getElementById("code-languages");
        const choices = new Choices(languageElement, {
            shouldSort: false,
            itemSelectText: '',
            placeholder: true,
            searchEnabled: false,
            placeholderValue: 'Tilni tanlang',
        });
        CodeMirror.modeURL = "/static/codemirror-5.65.21/mode/%N/%N.js";
        editor = CodeMirror.fromTextArea(
            document.getElementById("editor"), {
                mode: "",
                theme: "monokai",
                lineNumbers: true,
                autoCloseBrackets: true,
                matchBrackets: true,
                indentUnit: 4,
                tabSize: 4,
                indentWithTabs: false,
                styleActiveLine: true
            }
        );
        function setModeByMime(mime) {
            const info = CodeMirror.findModeByMIME(mime);
            if (info) {
                editor.setOption("mode", mime);
                CodeMirror.autoLoadMode(editor, info.mode);
            }
        }
        languageElement.addEventListener("change", function () {
            const mime = this.options[this.selectedIndex].dataset.mime;
            setModeByMime(mime);
        });
        const defaultMime = languageElement.options[languageElement.selectedIndex].dataset.mime;
        setModeByMime(defaultMime);
    });
</script>
<script>
    document.getElementById("fileInput").addEventListener("change", function (e) {
        const file = e.target.files[0];
        if (!file) return;
        const reader = new FileReader();
        reader.onload = function (event) {
            const content = event.target.result;
            editor.setValue(content);
            e.target.value = "";
        };
        reader.readAsText(file);
    });
    document.getElementById("copyEditor").addEventListener("click", function(){
        const code = editor.getValue();
        if(!code) return;
        navigator.clipboard.writeText(code);
        const icon = this.querySelector("i");
        icon.classList.remove("ti-copy");
        icon.classList.add("ti-check");
        setTimeout(()=>{
            icon.classList.remove("ti-check");
            icon.classList.add("ti-copy");
        },1200);
    });

    document.getElementById("clearEditor").addEventListener("click", function(){
        editor.setValue("");
    });
</script>
{% endblock js %}