{% extends "core/index.html" %} {% load static %} {% block title %}SamCoding | {{ profile_user.first_name|title }} {{ profile_user.last_name|title }} (@{{ profile_user.username }}){% endblock title %} {% block css %} {% endblock css %}
{% block content %}
<div class="container">
    {% include 'core/layout/breadcrumb.html' %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body text-center">
                    <h4 class="m-0">Your custom content1 here {{ request.user.username }} </h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %} {% block js %} {% endblock js %}