::-webkit-scrollbar {
    display: none;
}

html, body {
    overflow-x: hidden;
}

html {
    scrollbar-width: none;
}

body {
    -ms-overflow-style: none;
}

.auto-resize{
    font-family: monospace;
    white-space: pre;
    overflow-x: auto;
}

.note-editor .note-editable {
    font-size: 15px !important;
}