::-webkit-scrollbar {
    display: none;
}

html, body {
    overflow-x: hidden;
}

html {
    scrollbar-width: none;
}

body {
    -ms-overflow-style: none;
}

.auto-resize{
    font-family: monospace !important;
    white-space: pre !important;
    line-height: 1.15 !important;
    overflow-x: auto !important;
}

.note-editor .note-editable {
    font-size: 15px !important;
}

.accordion-body .note-editor {
    border: 0 !important;
    border-radius: 0 !important;
    margin-bottom: 0 !important;
    padding: 15px 15px 0px 15px !important;
}

.table-fixed {
    table-layout: fixed;
}

.table-fixed td {
    vertical-align: top;
}

.sample-cell {
    overflow: auto;
}

.sample-cell pre {
    margin: 0;
    white-space: pre;
}

.copy-btn{
    position:absolute;
    top:8px;
    right:8px;
    z-index:2;
}

#editor {
  border:1px solid #ddd;
  border-radius:8px;
  height:400px;
  font-size:14px;
}

.editor-wrapper {
    position: relative;
}

.editor-actions {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    display: flex;
    gap: 6px;
}

.problem-map {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(55px, 1fr));
    gap: 4px;
}