::-webkit-scrollbar {
    display: none;
}

html, body {
    overflow-x: hidden;
}

html {
    scrollbar-width: none;
}

body {
    -ms-overflow-style: none;
}

.auto-resize{
    font-family: monospace !important;
    white-space: pre !important;
    line-height: 1.15 !important;
    overflow-x: auto !important;
}

.note-editor .note-editable {
    font-size: 15px !important;
}

.accordion-body .note-editor {
    border: 0 !important;
    border-radius: 0 !important;
    margin-bottom: 0 !important;
    padding: 15px 15px 0px 15px !important;
}

.table-fixed {
    table-layout: fixed;
}

.table-fixed td {
    vertical-align: top;
}

.sample-cell {
    overflow: auto;
}

.sample-cell pre {
    margin: 0;
    white-space: pre;
}

.copy-btn{
    position:absolute;
    top:8px;
    right:8px;
    z-index:2;
}