{% extends "core/admin/index.html" %} {% load static %} {% block title %}Admin | {{ title }}{% endblock title %} {% block css %} 
<!-- Summernote Plugin CSS -->
<link href="{% static 'plugins/summernote/summernote-bs5.min.css' %}" rel="stylesheet" />
{% endblock css %}
{% block content %}
<div class="container-fluid">
    {% include 'core/admin/layout/breadcrumb.html' %}
    <div class="row">
        <div class="col-md-9 mb-3">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row g-3">
                    <div class="col-12">
                        <div class="accordion accordion-custom-icon accordion-arrow-none" id="TitleExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="TitleHeading">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#TitleCollapse" aria-expanded="true" aria-controls="TitleCollapse">
                                        Masala nomi <span class="text-danger ms-1">*</span>
                                        <i class="ti ti-plus accordion-icon accordion-icon-on"></i>
                                        <i class="ti ti-minus accordion-icon accordion-icon-off"></i>
                                    </button>
                                </h2>
                                <div id="TitleCollapse" class="accordion-collapse collapse show" aria-labelledby="TitleHeading" data-bs-parent="#TitleExample">
                                    <div class="accordion-body">
                                        <input type="text" class="form-control" name="title" placeholder="Problem title" value="{{ problem.title }}" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="accordion accordion-custom-icon accordion-arrow-none" id="StatementExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="StatementHeading">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#StatementCollapse" aria-expanded="true" aria-controls="StatementCollapse">
                                        Masala sharti <span class="text-danger ms-1">*</span>
                                        <i class="ti ti-plus accordion-icon accordion-icon-on"></i>
                                        <i class="ti ti-minus accordion-icon accordion-icon-off"></i>
                                    </button>
                                </h2>
                                <div id="StatementCollapse" class="accordion-collapse collapse show" aria-labelledby="StatementHeading" data-bs-parent="#StatementExample">
                                    <div class="accordion-body p-0">
                                        <textarea class="summernote" name="statement">{{ problem.statement }}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="accordion accordion-custom-icon accordion-arrow-none" id="ImagesExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="ImagesHeading">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#ImagesCollapse" aria-expanded="true" aria-controls="ImagesCollapse">
                                        Masala rasmlari
                                        <i class="ti ti-plus accordion-icon accordion-icon-on"></i>
                                        <i class="ti ti-minus accordion-icon accordion-icon-off"></i>
                                    </button>
                                </h2>
                                <div id="ImagesCollapse" class="accordion-collapse collapse show" aria-labelledby="ImagesHeading" data-bs-parent="#ImagesExample">
                                    <div class="accordion-body">
                                        {% if problem.images.exists %}
                                        <div class="mb-2">
                                            <div class="d-flex align-items-center" id="image-list">
                                                {% for item in problem.images.all %}
                                                <a href="{{ item.image.url }}" target="_blank" class="image-item me-2" data-id="{{ item.id }}">
                                                {{ item.original_name }}
                                                </a>
                                                {% endfor %}
                                                <button type="button" class="btn btn-default border-0 btn-sm" id="toggle-delete-images">
                                                    <i class="ti ti-trash text-danger"></i>
                                                </button>
                                            </div>
                                        </div>
                                        {% endif %}
                                        <input type="file" class="form-control" name="images[]" id="image-upload" accept="image/*" multiple>
                                        <input type="hidden" name="delete_images[]" value="{{ image.id }}">
                                        <div class="table-responsive mt-3 d-none" id="image-table-wrapper">
                                            <table class="table table-bordered align-middle">
                                                <thead>
                                                    <tr>
                                                        <th>Rasm</th>
                                                        <th>O'lcham</th>
                                                        <th>Nomi</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="image-preview-table"></tbody>
                                            </table>
                                            <span>Rasmni masala shartiga kiritish uchun <code>\includegraphics{file.png}</code> namunadan foydalaning. Rasm hajmi <code>1MB</code> dan oshmasin.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="accordion accordion-custom-icon accordion-arrow-none" id="SampleTestExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="SampleTestHeading">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#SampleTestCollapse" aria-expanded="true" aria-controls="SampleTestCollapse">
                                        Masala namuna testlari</span>
                                        <i class="ti ti-plus accordion-icon accordion-icon-on"></i>
                                        <i class="ti ti-minus accordion-icon accordion-icon-off"></i>
                                    </button>
                                </h2>
                                <div id="SampleTestCollapse" class="accordion-collapse collapse show" aria-labelledby="SampleTestHeading" data-bs-parent="#SampleTestExample">
                                    <div class="accordion-body">
                                        <div class="alert alert-warning alert-dismissible d-flex align-items-center" role="alert">
                                            <div>
                                                Namuna test qo'shishda masaladagi barcha formatlash qoidalari va shartlariga qat'iy rioya qiling. Javobingiz to'g'ri ekanligiga ishonch hosil qiling.
                                            </div>
                                        </div>
                                        <div id="sample-tests-container">
                                            {% for item in problem.samples.all %}
                                            <div class="card rounded-1 mb-3 sample-test-card">
                                                <div class="card-body position-relative">
                                                    <button type="button" class="btn-close remove-sample position-absolute top-0 end-0 m-2"></button>
                                                    <div class="mb-2">
                                                        <label class="form-label">Input</label>
                                                        <textarea class="form-control auto-resize" name="sample_input[]" wrap="off">{{ item.input_data }}</textarea>
                                                    </div>
                                                    <div class="mb-2">
                                                        <label class="form-label">Output</label>
                                                        <textarea class="form-control auto-resize" name="sample_output[]" wrap="off">{{ item.output_data }}</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                                                                
                                        <div class="d-flex justify-content-end">
                                            <a href="#" id="add-sample-test">
                                                <i class="ti ti-plus"></i> Test qo'shish
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Submit -->
                <div class="text-end mt-3">
                    <button type="submit" class="btn btn-primary">Saqlash</button>
                </div>
            </form>
        </div>
        <div class="col-md-3">
            <div class="card rounded-1">
                <div class="card-header">
                    <h3 class="card-title">Masala sozlamalar</h3>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'admin-problems-config' problem.id  %}">
                        {% csrf_token %}
                        <div class="row gap-3">
                            <div class="col-12">
                                <label for="time_limit" class="form-label">Vaqt <span>(ms)</span></label>
                                <input type="text" class="form-control" id="time_limit" name="time_limit" placeholder="Time limit" value="{{ problem.time_limit }}" required />
                            </div>
                            <div class="col-12">
                                <label for="memory_limit" class="form-label">Xotira <span>(mb)</span></label>
                                <input type="text" class="form-control" id="memory_limit" name="memory_limit" placeholder="Memory limit" value="{{ problem.memory_limit }}" required />
                            </div>
                            <div class="col-12">
                                <label for="difficulty" class="form-label">Qiyinchiligi <span>(%)</span></label>
                                <input type="text" class="form-control" id="difficulty" name="difficulty" placeholder="Difficulty" value="{{ problem.difficulty }}" required />
                            </div>
                            <div class="col-12">
                                <div class="text-end">
                                    <button type="submit" class="btn btn-primary">Saqlash</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card rounded-1">
                <div class="card-header">
                    <h3 class="card-title">Masala toifasi</h3>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'admin-problems-tag-add' problem.id  %}">
                        {% csrf_token %}
                        <select class="form-control" name="tags_ids" id="tags" multiple>
                            {% for tag in tags %}
                            <option value="{{ tag.id }}" {% if tag in problem.tags.all %}selected{% endif %}>{{ tag.name }}</option>
                            {% endfor %}
                        </select>
                        <div class="text-end">
                            <button type="submit" class="btn btn-primary">Saqlash</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card rounded-1">
                <div class="card-header">
                    <h3 class="card-title">Masala testlari</h3>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'admin-problems-test-add' problem.id %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row gap-3">
                            <div class="col-12">
                                <label class="form-label">Test Case yuklash {% if problem.test_file %}<a href="{{ problem.test_file.url }}">({{ problem.test_file.name|slice:"14:" }}) <i class="ti ti-download"></i></a>{% endif %}</label>
                                <input type="file" class="form-control" name="test_file" accept=".zip" {% if not problem.test_file %}required{% endif %}>
                                <small class="form-text fst-italic text-muted">Testni *.zip formatida yuklang: 001.in, 001.out, ...</small>
                            </div>
                            <div class="col-12">
                                <div class="text-end">
                                    {% if problem.test_file %}
                                    <button type="submit" name="delete_test" value="1" class="btn btn-soft-danger btn-icon me-1"><i class="ti ti-trash fs-xl"></i></button>
                                    {% endif %}
                                    <button type="submit" class="btn btn-primary">Saqlash</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %} {% block js %} 
<!-- Jquery for Summernote-->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Summernote Plugin Js -->
<script src="{% static 'plugins/summernote/summernote-bs5.min.js' %}"></script>
<!-- Summernote Demo Js -->
<script src="{% static 'js/pages/summernote.js' %}"></script>
<script>
    MathJax = {
        tex: { 
            inlineMath: [['$', '$'], ['\\(', '\\)']],
            displayMath: [['$$', '$$'], ['\\[', '\\]']]
        }
    };
</script>
<script defer src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-chtml.js"></script>
<script>
    new Choices('#tags', {
        removeItemButton: true,
        placeholder: true,
        placeholderValue: 'Toifasini tanlang'
    });
    new Choices('#languages', {
        removeItemButton: true,
        placeholder: true,
        placeholderValue: 'Til tanlang'
    });
</script>
<script>
    function resizeAllTextareas(){
        document.querySelectorAll(".auto-resize").forEach(function(el){
            el.style.height = "auto";
            el.style.height = el.scrollHeight + "px";
        });
    }
    document.addEventListener("DOMContentLoaded", function(){
        const container = document.getElementById("sample-tests-container");
        const addBtn = document.getElementById("add-sample-test");
        resizeAllTextareas();
        addBtn.addEventListener("click", function(e){
            e.preventDefault();
            const card = document.createElement("div");
            card.className = "card rounded-1 mb-3 sample-test-card";
            card.innerHTML = `
                <div class="card-body position-relative">
                    <button type="button" class="btn-close remove-sample position-absolute top-0 end-0 m-2"></button>

                    <div class="mb-2">
                        <label class="form-label">Input</label>
                        <textarea class="form-control auto-resize" name="sample_input[]" wrap="off"></textarea>
                    </div>

                    <div class="mb-2">
                        <label class="form-label">Output</label>
                        <textarea class="form-control auto-resize" name="sample_output[]" wrap="off"></textarea>
                    </div>
                </div>
            `;
            container.appendChild(card);
            resizeAllTextareas();
        });
    });
    document.querySelectorAll('.accordion-collapse').forEach(function(el){
        el.addEventListener('shown.bs.collapse', function(){
            resizeAllTextareas();
        });
    });
    document.addEventListener("input", function(e){
        if(e.target.classList.contains("auto-resize")){
            e.target.style.height = "auto";
            e.target.style.height = e.target.scrollHeight + "px";
        }
    });
    document.addEventListener("click", function(e){
        const btn = e.target.closest(".remove-sample");
        if(btn){
            btn.closest(".sample-test-card").remove();
        }
    });
</script>
<script>
    const input = document.getElementById("image-upload");
    const table = document.getElementById("image-preview-table");
    const wrapper = document.getElementById("image-table-wrapper");

    input.addEventListener("change", function(){
        table.innerHTML = "";
        const files = this.files;
        if(files.length > 0){
            wrapper.classList.remove("d-none");
        } else {
            wrapper.classList.add("d-none");
        }
        for(let i = 0; i < files.length; i++){
            const file = files[i];
            const img = new Image();
            const reader = new FileReader();
            reader.onload = function(e){
                img.src = e.target.result;
                img.onload = function(){
                    const row = document.createElement("tr");
                    row.innerHTML = `
                        <td>
                            <img src="${img.src}" style="width:120px;">
                        </td>
                        <td>
                            ${img.width} × ${img.height}
                        </td>
                        <td>
                            ${file.name}
                        </td>
                    `;
                    table.appendChild(row);
                }
            };
            reader.readAsDataURL(file);
        }
    });
</script>
<script>
    const toggleBtn = document.getElementById("toggle-delete-images");
    const images = document.querySelectorAll(".image-item");
    const form = document.querySelector("form");
    let deleted = false;
    toggleBtn.addEventListener("click", function(){
        if(!deleted){
            images.forEach(function(img){
                img.style.textDecoration = "line-through";
                const input = document.createElement("input");
                input.type = "hidden";
                input.name = "delete_images[]";
                input.value = img.dataset.id;
                input.classList.add("delete-image-hidden");
                form.appendChild(input);
            });
            toggleBtn.innerHTML = `<i class="ti ti-arrow-back-up text-success"></i>`;
            deleted = true;
        } else {
            images.forEach(function(img){
                img.style.textDecoration = "none";
            });
            document.querySelectorAll(".delete-image-hidden").forEach(function(el){
                el.remove();
            });
            toggleBtn.innerHTML = `<i class="ti ti-trash text-danger"></i>`;
            deleted = false;
        }
    });
</script>
{% endblock js %}