{% extends "core/admin/index.html" %} {% load static %} {% block title %}Admin | {{ title }}{% endblock title %} {% block css %} {% endblock css %}
{% block content %}
<div class="container-fluid">
    {% include 'core/admin/layout/breadcrumb.html' %}
    <div class="row">
        <div class="col-12">
            <div class="card rounded-1">
                <div class="card-header card-tabs d-flex align-items-center">
                    
                    <ul class="nav nav-tabs card-header-tabs nav-bordered flex-grow-1">
                        <li class="nav-item">
                            <a href="{% url 'admin-problems-edit' problem.id %}" class="nav-link">
                                <span class="fw-bold">Masala</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'admin-problems-test-edit' problem.id %}" class="nav-link active">
                                <span class="fw-bold">Test</span>
                            </a>
                        </li>
                    </ul>
                    <div>
                        <a href="#" class="btn btn-sm btn-light">Masalani ko'rish</a>
                    </div>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'admin-problems-test-edit' problem.id %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-12">
                                <label class="form-label">Test Case yuklash {% if problem.test_file %}<span class="text-success">({{ problem.test_file.name|slice:"14:" }})</span>{% endif %}</label>
                                <input type="file" class="form-control" name="test_file" accept=".zip" {% if not problem.test_file %}required{% endif %}>
                                <span class="form-text fs-xs fst-italic text-muted">Testni *.zip formatida yuklang: 001.in, 001.out, ...</span>
                            </div>
                            {% if problem.test_file %}
                            <div class="col-12">
                                <label class="form-label">Namuna testlar soni</label>
                                <div class="input-group" data-touchspin>
                                    <button type="button" class="btn btn-light floating" data-minus><i class="ti ti-minus"></i></button>
                                    <input type="number" class="form-control form-control-sm border-0" name="sample_tests" value="{{ problem.sample_tests|default:0 }}" max="10">
                                    <button type="button" class="btn btn-light floating" data-plus><i class="ti ti-plus"></i></button>
                                </div>
                            </div>
                            {% endif %}
                            <!-- Submit -->
                            <div class="text-end">
                                {% if problem.test_file %}
                                <button type="submit" name="delete_test" value="1" class="btn btn-danger me-2">Testni tozalash</button>
                                {% endif %}
                                <button type="submit" class="btn btn-primary">Saqlash</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %} {% block js %} {% endblock js %}