{% extends "core/admin/index.html" %} {% load static %} {% block title %}Admin | {{ title }}{% endblock title %} {% block css %} {% endblock css %}
{% block content %}
<div class="container-fluid">
    {% include 'core/admin/layout/breadcrumb.html' %}
    <div class="row">
        <div class="col-12">
            <div data-table data-table-rows-per-page="{{ 25 }}" class="card">
                <form method="post">
                    {% csrf_token %}
                    <div class="card-header border-light d-block justify-content-between">
                        <div class="row align-items-center g-2 flex-nowrap">
                            <div class="col d-flex gap-2 ps-0">
                                <div class="app-search flex-grow-1 flex-md-grow-0 w-100 w-md-auto" style="max-width:260px;">
                                    <input type="search" class="form-control" placeholder="Qidiruv..." id="searchInput" value="{{ search|default:'' }}">
                                    <i class="ti ti-search app-search-icon text-muted"></i>
                                </div>
                                <button data-table-delete-selected type="submit" name="bulk_delete" class="btn btn-danger btn-icon px-3 d-none">
                                    <i class="ti ti-trash fs-xl"></i>
                                </button>
                            </div>
                            <div class="col-auto pe-0">
                                <button type="button" data-bs-toggle="modal" data-bs-target="#addDistrictModal" class="btn btn-primary px-3">
                                    Qo'shish
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-custom table-nowrap table-centered table-select table-striped table-hover w-100 mb-0">
                            <thead class="bg-light align-middle bg-opacity-25 thead-sm">
                                <tr class="text-uppercase fs-xxs">
                                    <th class="ps-3" style="width: 1%">
                                        <input data-table-select-all class="form-check-input form-check-input-light fs-14 mt-0" type="checkbox" id="select-all-files" value="option" />
                                    </th>
                                    <th style="width:1%">
                                        {% include "locations/admin/layout/sort.html" with field="id" title="ID" %}
                                    </th>
                                    <th>
                                        {% include "locations/admin/layout/sort.html" with field="name" title="District name" %}
                                    </th>
                                    <th class="text-center" style="width: 1%;">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in districts %}
                                <tr>
                                    <td class="ps-3">
                                        <input class="form-check-input form-check-input-light fs-14 file-item-check mt-0" name="ids" type="checkbox" value="{{ item.id }}" />
                                    </td>
                                    <td>
                                        <h5 class="m-0">
                                            <code class="link-reset ">#{{ item.id|stringformat:"03d" }}</code>
                                        </h5>
                                    </td>
                                    <td>
                                        <h5 class="fs-base link-reset mb-0">{{ item.name }} <small class="text-muted">({{ item.region.name }})</small></h5>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-center gap-1">
                                            <a href="{% url 'admin-districts-edit' item.id %}" class="btn btn-default btn-icon btn-sm edit-district-btn" data-bs-toggle="modal" data-bs-target="#editDistrictModal" data-id="{{ item.id }}" data-name="{{ item.name }}" data-region="{{ item.region.id }}">
                                                <i class="ti ti-edit fs-lg"></i>
                                            </a>
                                            <button type="submit" name="single_delete" value="{{ item.id }}" class="btn btn-default btn-icon btn-sm single-delete-btn">
                                                <i class="ti ti-trash fs-lg"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </form>
                <div class="card-footer border-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <ul class="pagination pagination-sm pagination-boxed mb-0 mx-auto">
                            <li class="page-item {% if not districts.has_previous %}disabled{% endif %}">
                                <a class="page-link" href="{% if districts.has_previous %}?page={{ districts.previous_page_number }}{% if search %}&search={{ search }}{% endif %}{% if sort %}&sort={{ sort }}{% endif %}{% if direction %}&direction={{ direction }}{% endif %}{% else %}#{% endif %}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% for page in page_range %}
                            {% if page == '...' %}
                            <li class="page-item disabled"><span class="page-link">...</span></li>
                            {% elif page == districts.number %}
                            <li class="page-item active"><a class="page-link" href="?page={{ page }}{% if search %}&search={{ search }}{% endif %}{% if sort %}&sort={{ sort }}{% endif %}{% if direction %}&direction={{ direction }}{% endif %}">{{ page }}</a></li>
                            {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ page }}{% if search %}&search={{ search }}{% endif %}{% if sort %}&sort={{ sort }}{% endif %}{% if direction %}&direction={{ direction }}{% endif %}">{{ page }}</a></li>
                            {% endif %}
                            {% endfor %}
                            <li class="page-item {% if not districts.has_next %}disabled{% endif %}">
                                <a class="page-link" href="{% if districts.has_next %}?page={{ districts.next_page_number }}{% if search %}&search={{ search }}{% endif %}{% if sort %}&sort={{ sort }}{% endif %}{% if direction %}&direction={{ direction }}{% endif %}{% else %}#{% endif %}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Add District Modal -->
    <div class="modal fade" id="addDistrictModal" tabindex="-1" aria-labelledby="addDistrictModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addDistrictModalLabel">Tuman yaratish</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form method="post" action="{% url 'admin-districts-add' %}">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="row g-3">
                            <div class="col-12">
                                <label for="regionName" class="form-label">Viloyat <span class="text-danger" title="Majburiy maydon">*</span></label>
                                <select class="form-control" name="region_id" id="regionName" required >
                                    <option value="" selected disabled>Viloyatni tanlang</option>
                                    {% for region in regions %}
                                    <option value="{{ region.id }}">{{ region.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-12">
                                <label for="districtName" class="form-label">Tuman <span class="text-danger" title="Majburiy maydon">*</span></label>
                                <input type="text" class="form-control" id="districtName" name="district_name" placeholder="Tuman nomini kiriting" required />
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Yo'q</button>
                        <button type="submit" class="btn btn-primary">Yaratish</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Edit District Modal -->
    <div class="modal fade" id="editDistrictModal" tabindex="-1" aria-labelledby="editDistrictModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editDistrictModalLabel">Taxrirlash</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" id="editDistrictForm">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="row g-3">

                            <div class="col-12">
                                <label for="editRegionSelect" class="form-label">Viloyat <span class="text-danger" title="Majburiy maydon">*</span></label>
                                <select class="form-control" name="region_id" id="editRegionSelect" required >
                                    <option value="" disabled>Viloyatni tanlang</option>
                                    {% for region in regions %}
                                    <option value="{{ region.id }}">{{ region.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-12">
                                <label for="editDistrictName" class="form-label">Tuman nomi <span class="text-danger" title="Majburiy maydon">*</span></label>
                                <input type="text" class="form-control" id="editDistrictName" name="district_name" placeholder="Tuman nomini kiriting" required />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Yo'q</button>
                        <button type="submit" class="btn btn-primary">Saqlash</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %} {% block js %} 
<!-- Custom table -->
<script src="{% static 'js/pages/custom-table.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const searchInput = document.getElementById("searchInput");
        function goWithQuery() {
            const params = new URLSearchParams(window.location.search);
            const searchValue = searchInput.value.trim();
            if (searchValue) {
                params.set("search", searchValue);
            } else {
                params.delete("search");
            }
            params.delete("page");
            const query = params.toString();
            if (query) {
                window.location.search = "?" + query;
            } else {
                window.location.href = window.location.pathname;
            }
        }
        if (searchInput) {
            searchInput.addEventListener("keydown", function(e){
                if (e.key === "Enter") {
                    e.preventDefault();
                    goWithQuery();
                }
            });
        }
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {

        const regionElement = document.getElementById("regionName");
        const editRegionElement = document.getElementById("editRegionSelect");

        const regionChoices = new Choices(regionElement,{
            shouldSort:false,
            itemSelectText:'',
            placeholder:true,
            placeholderValue:'Viloyatni tanlang'
        });

        const editRegionChoices = new Choices(editRegionElement,{
            shouldSort:false,
            itemSelectText:'',
            placeholder:true,
            placeholderValue:'Viloyatni tanlang'
        });

        const editButtons = document.querySelectorAll(".edit-district-btn");
        const form = document.getElementById("editDistrictForm");
        const input = document.getElementById("editDistrictName");

        editButtons.forEach(function(btn){
            btn.addEventListener("click",function(e){
                e.preventDefault();

                const name = this.dataset.name;
                const region = this.dataset.region;

                form.action = this.href;

                input.value = name;

                editRegionChoices.setChoiceByValue(region);
            });
        });

    });
</script>
{% endblock js %}