{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bosh sahifa</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>IMG</th>
                <th>USER NAME</th>
                <th>E-MAIL</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>
                    {% if user.img %}
                    <img src="{{ user.img.url }}" width="35px" height="35px" alt="{{ user.img.name }}">
                    {% else %}
                    <img src="{% static 'img/avatar.jpg' %}" width="35px" height="35px" alt="User avatar">
                    {% endif %}
                </td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>