{% load static %}
<div class="contrib-wrapper card rounded-1">
    <div id="contrib-year" data-year="{{ year }}" style="display:none;"></div>
  <div class="contrib-scroll">
      <div class="months"></div>
      <div class="contrib-body">
          <div class="weekdays">
                <span></span>
                <span>Se</span>
                <span></span>
                <span>Pa</span>
                <span></span>
                <span>Sh</span>
                <span></span>
            </div>
          <div class="grid">
                {% for day in days %}
                    {% if day %}
                        <div class="cell level-{{ day.level }}" data-date="{{ day.date }}" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ day.date|date:'d.m.Y' }} → {{ day.count }} urinish"></div>
                    {% else %}
                        <div class="cell level-0 empty"></div>
                    {% endif %}
                {% endfor %}
          </div>
      </div>
  </div>
  <div class="legend">
      <span>Less</span>
      <div class="cell level-0" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="0"></div>
      <div class="cell level-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="1"></div>
      <div class="cell level-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="10"></div>
      <div class="cell level-3" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="25"></div>
      <div class="cell level-4" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="50"></div>
      <span>More</span>
  </div>
</div>