{% extends "core/index.html" %} {% load static %} {% block title %}SamCoding | {{ user.first_name|title }} {{ user.last_name|title }} (@{{ user.username }}){% endblock title %} {% block css %} {% endblock css %}
{% block content %}
<div class="container">
    {% include 'core/layout/breadcrumb.html' %}
    <div class="row">
        <div class="col-xl-4">
            {% include 'accounts/profile/profile_card.html' %}
        </div>
        <div class="col-xl-8">
            {% include 'accounts/profile/contribution.html' %}
        </div>
    </div>
</div>
{% endblock content %} {% block js %} 
<!-- Apex Chart js -->
<script src="{% static 'plugins/apexcharts/apexcharts.min.js' %}"></script>
<!-- Apex Chart line Demo js -->
<script src="{% static 'js/pages/chart-apex-line.js' %}"></script>
{% endblock js %}