{% load static %}
<div class="card card-top-sticky rounded-1">
    <div class="position-absolute top-0 end-0" style="width: 180px">
        <img src="{% static 'images/auth-card-bg.svg' %}" class="auth-card-bg-img" alt="auth-card-bg" />
    </div>
    <div class="card-body">
        <div class="d-flex align-items-center mb-4">
            <div class="me-3">
                <img src="{% if user.avatar %}{{ user.avatar.url }}{% else %}{% static 'images/users/no-avatar.jpg' %}{% endif %}" alt="avatar" class="rounded-circle" width="72" height="72" />
            </div>
            <div>
                <h5 class="mb-0 d-flex align-items-center">
                    <a href="{% url 'profile' user.username %}" class="link-reset">{{ user.first_name|title }} {{ user.last_name|title }}</a>
                    <img src="{% static 'images/flags/uz.svg' %}" alt="UZ" class="ms-2 rounded-circle" height="16" />
                </h5>
                <p class="text-muted mb-2">Middle dasturchi</p>
                <span class="badge {% if user.is_online %}bg-info-subtle text-info{% else %}bg-danger-subtle text-danger{% endif %} rounded-1">{{ user.last_seen }}</span>
            </div>
            <div class="ms-auto">
                <div class="dropdown">
                    <a href="#" class="btn btn-icon btn-ghost-light text-muted" data-bs-toggle="dropdown">
                        <i class="ti ti-dots-vertical fs-xl"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item" href="#">Profilni tahrirlash</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="">
            <div class="d-flex align-items-center gap-2 mb-2">
                <div
                    class="avatar-sm text-bg-light bg-opacity-75 d-flex align-items-center justify-content-center rounded-circle">
                    <i class="ti ti-school fs-xl"></i>
                </div>
                <p class="mb-0 fs-sm">
                    Ta'lim muassasa
                    <span class="text-dark fw-semibold">{{ user.school }}</span>
                </p>
            </div>
            <div class="d-flex align-items-center gap-2 mb-2">
                <div
                    class="avatar-sm text-bg-light bg-opacity-75 d-flex align-items-center justify-content-center rounded-circle">
                    <i class="ti ti-map-pin fs-xl"></i>
                </div>
                <p class="mb-0 fs-sm">
                    Manzil
                    <span class="text-dark fw-semibold">{{ user.region }}, {{ user.district.name }}</span>
                </p>
            </div>

            <div class="d-flex align-items-center gap-2 mb-2">
                <div
                    class="avatar-sm text-bg-light bg-opacity-75 d-flex align-items-center justify-content-center rounded-circle">
                    <i class="ti ti-mail fs-xl"></i>
                </div>
                <p class="mb-0 fs-sm">
                    Email
                    <a href="mailto:{{ user.email }}" class="text-primary fw-semibold">{{ user.email }}</a>
                </p>
            </div>
            <div class="d-flex align-items-center gap-2 mb-2">
                <div
                    class="avatar-sm text-bg-light bg-opacity-75 d-flex align-items-center justify-content-center rounded-circle">
                    <i class="ti ti-shirt fs-xl"></i>
                </div>
                <p class="mb-0 fs-sm">
                    Fudbolka o'lchami
                    <span class="text-dark fw-semibold">{{ user.shirt_size }}</span>
                </p>
            </div>
            <div class="d-flex align-items-center gap-2 mb-2">
                <div
                    class="avatar-sm text-bg-light bg-opacity-75 d-flex align-items-center justify-content-center rounded-circle">
                    <i class="ti ti-calendar fs-xl"></i>
                </div>
                <p class="mb-0 fs-sm">
                    Ro'yxatdan o'tgan
                    <span class="text-dark fw-semibold">{{ user.date_joined|date:"d.m.Y" }}</span>
                </p>
            </div>

            {% if user != request.user %}
            <a href="#" class="btn btn-primary w-100 mt-3">
                <i class="ti ti-user-plus me-2"></i>
                Follow
            </a>
            {% endif %}

            <hr class="border-bottom border-dashed my-3">

            <div class="d-flex justify-content-center gap-2">
                <a href="{% if user.tg_link %}https://t.me/{{user.tg_link}}{% else %}#{% endif %}" title="Telegram">
                    <h5>
                        <span class="badge text-bg-primary">
                            <i class="ti ti-brand-telegram"></i>
                            Telegram
                        </span>
                    </h5>
                </a>
                <a href="{% if user.gh_link %}https://github.com/{{user.gh_link}}{% else %}#{% endif %}" title="GitHub">
                    <h5>
                        <span class="badge text-bg-dark">
                            <i class="ti ti-brand-github"></i>
                            GitHub
                        </span>
                    </h5>
                </a>
                <a href="{% if user.fb_link %}https://www.facebook.com/{{user.fb_link}}{% else %}#{% endif %}" title="Facebook">
                    <h5>
                        <span class="badge text-bg-primary">
                            <i class="ti ti-brand-facebook"></i>
                            Facebook
                        </span>
                    </h5>
                </a>
            </div>
        </div>
    </div>
</div>