{% extends "core/index.html" %} {% load static %} {% block title %}SamCoding | {{ user.first_name|title }} {{ user.last_name|title }} (@{{ user.username }}){% endblock title %} {% block css %} {% endblock css %} {% block profilecss %} {% endblock profilecss %}
{% block content %}
<div class="container">
    {% include 'core/layout/breadcrumb.html' %}
    <div class="row">
        <div class="col-xl-4">
            {% include 'accounts/profile/profile-card.html' %}
        </div>
        <div class="col-xl-8">
            {% block profile %}
            {% include 'accounts/profile/contribution.html' %}
            {% endblock profile %}
        </div>
    </div>
</div>
{% endblock content %} {% block js %} 
<!-- Contribution Chart js -->
<script src="{% static 'js/contribution.js' %}"></script>
{% endblock js %}